@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
	--primary-color: #00d9ff;
	--background-color: #030514;
	--glow-color: #0ff;
	--primary-radial: radial-gradient(#00d9ff, transparent);
}

//region Global
* {
	font-family: 'Orbitron', serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: none;
	user-select: none;
}
body {
	width: 100vw;
	height: 100vh;
}
//endregion

//region Containers
.contents {
	display: contents;
}
.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&.justify-start {
		justify-content: flex-start;
	}
	&.justify-end {
		justify-content: flex-end;
	}
	&.justify-center {
		justify-content: center;
	}
	&.justify-between {
		justify-content: space-between;
	}
	&.justify-around {
		justify-content: space-around;
	}
	&.justify-evenly {
		justify-content: space-evenly;
	}
	&.justify-stretch {
		justify-content: stretch;
	}
	&.align-start {
		align-items: flex-start;
	}
	&.align-end {
		align-items: flex-end;
	}
	&.align-center {
		align-items: center;
	}
	&.align-baseline {
		align-items: baseline;
	}
	&.align-stretch {
		align-items: stretch;
	}
}
.stack-pane {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	.pane {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
}
//endregion

//region Layout
.scrollable-y {
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		width: .25rem;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background-color: #0002;
	}
}
.flex {
	flex: 1 0 0;
}
.wrap {
	flex-wrap: wrap;
}
.row {
	flex-direction: row;
}
.column {
	flex-direction: column;
}

.w-100 {
	width: 100%;
}
.w-90 {
	width: 90%;
}
.w-75 {
	width: 75%;
}
.w-50 {
	width: 50%;
}
.w-25 {
	width: 25%;
}
.w-10 {
	width: 10%;
}
.h-100 {
	height: 100%;
}
.h-90 {
	height: 90%;
}
.h-75 {
	height: 75%;
}
.h-50 {
	height: 50%;
}
.h-25 {
	height: 25%;
}
.h-10 {
	height: 10%;
}
.h-min {
	height: min-content;
}
//endregion

//region Theme Styles
p {
	color: var(--glow-color);
}
.bordered {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border: var(--glow-color) solid 1px;
		border-radius: .25rem;
	}
}
//endregion

//region Effects
.text-glow {
	position: relative;
	color: white;
	&::after {
		content: attr(data-text);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 0;
		padding: 0;
		margin: 0;
		opacity: 0.75;
		text-wrap: nowrap;
		text-shadow: none;
		color: rgba(255, 255, 255, 0.6);
		font-weight: bolder;
		transform: perspective(50px) rotateX(45deg) scale(1.1, -.9);
	}
	&.glow-on {
		text-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color);
		&::after {
			filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white) blur(0.05em);
		}
	}
}
.filter-glow {
	overflow: visible;
	color: white;
	&.glow-on {
		filter: drop-shadow(0 0 10px var(--glow-color)) drop-shadow(0 0 20px var(--glow-color));
	}
}
.filter-glow-after {
	&::after {
		color: white;
	}
	&.glow-on {
		&::after {
			filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white);
		}
	}
}

.typewriter-container {
	.typewriter-text {
		font-size: 1.5rem;
		.typewriter-caret {
			color: white;
			font-weight: bold;
			animation: blink .5s steps(1) infinite;
			@keyframes blink {
				0% {
					opacity: 0;
				}
				50% {
					opacity: 1;
				}
			}
		}
	}
}
//endregion

//region Media Queries
@media screen and (max-width: 768px) {}
//endregion
