@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
:root {
  --primary-color: #00d9ff;
  --glow-color: #0ff;
}

* {
  font-family: "Orbitron", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  backface-visibility: visible;
}

p {
  color: var(--primary-color);
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.stack-pane {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.stack-pane .pane {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.flex {
  flex: 1 0 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.bordered {
  position: relative;
}
.bordered::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: var(--primary-color) solid 1px;
  border-radius: 0.25rem;
}

.text-glow {
  position: relative;
  color: white;
  text-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color);
}
.text-glow::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  padding: 0;
  margin: 0;
  opacity: 0.75;
  text-wrap: nowrap;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bolder;
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white) blur(0.05em);
  transform: perspective(50px) rotateX(45deg) scale(1.1, -0.9);
}

.filter-glow {
  overflow: visible;
  color: white;
  filter: drop-shadow(0 0 10px var(--glow-color)) drop-shadow(0 0 20px var(--glow-color));
}

.filter-glow-after::after {
  color: white;
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white);
}

.typewriter-container .typewriter-text {
  font-size: 1.5rem;
}
.typewriter-container .typewriter-text .typewriter-caret {
  color: white;
  font-weight: bold;
  animation: blink 0.5s steps(1) infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes swipe-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes swipe-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes page-in {
  from {
    transform: rotate(0);
    opacity: 1;
  }
  to {
    transform: rotateY(180deg);
    opacity: 0;
  }
}
@keyframes page-out {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes spiral-in {
  from {
    transform: rotate(360deg) scale(0);
  }
  to {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes spiral-out {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(0);
  }
}

/*# sourceMappingURL=app.css.map */
